@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

/*  set background colour */
html {
    background-color: hsl(204, 43%, 93%);
}

/* set root font size */
html {
    font-size: 10px;
}

 /* box sizing */
html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}

/* layout */

.centering {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}


.price-component {
    display: grid;
    font-family: 'Karla', sans-serif;
    width: 90%;
    height: auto;
    margin: auto;
    margin-top: 2rem;
    font-size: 1.6rem;
    border-radius: 10px;
    
    
}

.community {
  background-color: white;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
  padding-top: 1rem;
  
}

.subscription {
  background-color: #2AB3B1;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
  padding-top: 1rem;
  
}

.reasons {
  background-color: #4abfbd;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 2.5rem;
  padding-top: 1rem;
  
}

.signup {
    display: block;
    text-align: center;
    width: 100%;

}

/* typography */

body {
    line-height: 1.6;
    font-family: 'Karla', sans-serif;
}

.block {
    display: block;
}


.make-larger {
    font-size: 3rem;
    font-weight: 700;
    
}

.community {
    font-weight: 400;
    color: hsl(218, 22%, 67%);
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
}

.join {
    color: hsl(179, 62%, 43%);
}

.guarantee {
    color: hsl(71, 73%, 54%);
    font-weight: 700;
}


.subscription {
    color: white;
}

.sub-header {
    font-weight: 700;
    font-size: 1.4rem;
    color: white;
}

.signup {
    background-color: hsl(71, 73%, 54%);
    border: none;
    color: white;
    text-decoration: none;
    display: inline-block;
    border-radius: .5rem;
    margin-bottom: 1rem;
    margin-top: 2.5rem;
}

.month {
    position: relative;
    bottom: .4rem;
    left: .7rem;
    color: hsl(210, 2.1%, 81.2%);
}

.reasons {
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    color: hsl(0, 0%, 97.6%);
}

@media screen and (min-width: 600px) {
    /* layout */
    .price-component {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: max-content 1fr;
        grid-template-areas: "community community"
                             "signup reasons";
        width: 60rem;
    }

    .community {
        grid-area: community;
        padding-bottom: 0;
        margin-bottom: 0;
    }

    .subscription {
        grid-area: signup;
    }

    .reasons {
        grid-area: reasons;
    }

    /* styling */

    .reasons {
       border-bottom-left-radius: 0px;
       border-bottom-right-radius: 1em;
    }

    .subscription {
       border-bottom-left-radius: 1em;
    }
    .break-large {
        display: block;
    }
}